_win32/Debug/*
_win32/x64/Debug/*
_win32/Release/*
_win32/x64/Release/*
*.sdf
*.suo
*.opensdf
*.aps
*.user
*.mp3
*.psess
*.vsp
*.ipch
generated/*
shaders/*.[pvg]s[oa]
_win32/My Advisor*
_win32/My Inspector*
